@model ZeroHunger.DB.Request

@{
    ViewBag.Title = "requestdetails";
    Layout = "~/Views/Shared/_empLayout.cshtml";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}
<h2>requestdetails</h2>

<ul class="list-group list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                ID
            </div>
            @Model.id
        </div>
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Status
            </div>
            @Model.status
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Order datetime
            </div>
            @Model.order_time.ToString();
        </div>
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Expire Date time
            </div>
            @Model.expire_time.ToString();
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Requested by
            </div>
            <a href="/employee/restaurantDetails/@Model.Restaurant.id.ToString()">
                @Model.Restaurant.username
            </a>
        </div>
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Total quantity
            </div>
            @Model.total_quantity
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Assigned Employee
            </div>
            @(Model.Employee != null ? Model.Employee.username : "Not assigned")
            @if (Model.Employee != null)
            {
                <a href="#">@Model.Employee.username</a>
            }
            else
            {
                <span>Not assigned</span>
            }
        </div>
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Assigned by
            </div>
            @(Model.Admin != null ? Model.Admin.username : "Not assigned")
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                Food list:
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Quantity</th>
                </tr>
                @foreach (var item in Model.Foods.ToList())
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.type</td>
                        <td>@item.quantity</td>
                    </tr>
                }
            </table>
        </div>
    </li>
</ul>
